/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}
@font-face {
    font-family: 'propcouriersansregular';
    src: url(../fonts/propcouriersans-regular-webfont.eot);
    src: url(../fonts/propcouriersans-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/propcouriersans-regular-webfont.woff2) format('woff2'),
         url(../fonts/propcouriersans-regular-webfont.woff) format('woff'),
         url(../fonts/propcouriersans-regular-webfont.ttf) format('truetype'),
         url(../fonts/propcouriersans-regular-webfont.svg#propcouriersansregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Reset
-------------------------------------------------- */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
	display: block;
}


/* Pix
-------------------------------------------------- */
img {
	display: block;
	max-width: 100%;
}


/* Links
-------------------------------------------------- */
a {
	color: #000;
	text-decoration: none;
	transition: color .3s, background .3s, border .3s;
}
a:hover {
	color: #00F;
}


/* Clearfix
-------------------------------------------------- */
.cf:after {
	content: "";
	display: table;
	clear: both;
}

/* Helpers
-------------------------------------------------- */
.hidden {
  display: none;
}
.flexible {
	display: flex;
}

/* Site
-------------------------------------------------- */
body, html {
  font-size: 18px;
  line-height: 24px;
}
html {
	height: 100%;
	font-family: "propcouriersansregular", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0 auto;
	color: #222;
  font-family: "propcouriersansregular", sans-serif;
}

/* Main
-------------------------------------------------- */
p {
  font-size: 1rem;
}
li {
	list-style: none;
}
hr {
	margin: 3rem 0px;
	height: 1px;
	background: #000 none repeat scroll 0% 0%;
	border: none;
}

/* Home
-------------------------------------------------- */
#megabloc-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
}
#megabloc {
  width: 150%;
  top: 2.5rem;
  left: 0%;
  bottom: 0;
  position: absolute;
}
#megabloc.right-view {
	left: -50%;
}
#megabloc {
	-webkit-transition: left 500ms ease;
     -moz-transition: left 500ms ease;
       -o-transition: left 500ms ease;
          transition: left 500ms ease;
}
#megabloc>div {
  width: 33.333%;
  height: 100%;
  float: left;
  border-right: 1px solid;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: .5rem 0;
	position: relative;
}
#megabloc iframe {
  width: 100%;
  height: 100%;
}
#column-home p {
  font-size: 1.5rem;
  line-height: 120%;
}
/* Headers */
.columns-header {
	width: 150%;
}
.column-header {
	width: 33.33%;
	float: left;
	border-bottom: 1px solid;
	text-align: center;
	background: rgb(77,250,137);
	/*color: white;*/
	position: relative;
}
#arrow-slide-left {
	position: absolute;
	top: 0;
	left: 1rem;
	height: 2.5rem;
	line-height: 2.3rem;
	display: none;
	cursor: pointer;
}
#arrow-slide-right {
	position: absolute;
	top: 0;
	right: 1rem;
	height: 2.5rem;
	line-height: 2.3rem;
	display: none;
	cursor: pointer;
}
#connect-left {
	position: absolute;
	top: 0px;
	line-height: 2.5rem;
	left: 1rem;
}
#connect-right {
	position: absolute;
	top: 0px;
	line-height: 2.5rem;
	right: 1rem;
}
#connect-right a.dropdown-toggle, #connect-left	a.dropdown-toggle {
	color: white;
}
#connect-right a.dropdown-toggle:hover, #connect-left	a.dropdown-toggle:hover {
	text-decoration: none;
}


/* Forms
-------------------------------------------------- */
.form-control {
  font-size: inherit;
	box-shadow: none;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.form-control[readonly] {
  background: none !important;
  color: inherit !important;
  border: none !important;
  box-shadow: none !important;
}
.pac-container{z-index:2000 !important;}

.btn {
	border-radius: 0;
}
.btn.active, .btn:active {
    box-shadow: none;
}
.btn-block .dropdown-toggle .caret {
  position: absolute;
  right: 1rem;
  top: 50%;
}
.btn-default[disabled] .btn-default {
	border-color: #CCC;
}
.btn-default {
	color: #000;
	background-color: transparent;
	border-color: #000;
	border-radius: 0;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
	color: #000;
	background-color: #FFF;
	border-color: #000;
	border-radius: 0;
}
.form-control:focus {
	border-color: #000;
	outline: 0px none;
	box-shadow: 2px 2px 0px rgba(0,0,0,1);
	background-color: #FFF;
	border-radius: 0;
}
.btn-group.open .dropdown-toggle {
  box-shadow: 2px 2px 0px #000;
  box-shadow: 2px 2px 0px #000;
	border-radius: 0;
}
.dropdown-menu {
	margin: -1px 0px 0px;
	border-radius: 0;
	box-shadow: 2px 2px 0px rgb(0, 0, 0);
	border: 1px solid;
	border-radius: 0;
}
.form-control {
	color: #000;
	background-color: transparent;
	background-image: none;
	border: 1px solid #000;
	border-radius: 0;
}
.btn-info {
	background-color: #eee;
	border-color: transparent;
	color: black;
	margin-right: 1px;
}
.btn-primary {
  background-color: transparent;
	color: darkblue;
}
.btn-danger {
    color: rgb(255, 72, 0);
    border-color: rgb(255, 72, 0);
    background-color: transparent;
}
.btn-warning {
    color: orange;
    background-color: transparent;
}
.btn-success {
    color: mediumseagreen;
    background-color: transparent;
}
.btn-group-xs > .btn, .btn-xs {
    border-radius: 0;
}

a {
	transition: none;
}

/* Tables
-------------------------------------------------- */
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #000;
}

/* Medium editor
-------------------------------------------------- */
.medium-editor-placeholder::after {
  color: #000 !important;
}
.editMode .simpleEdit {
	border-bottom: 1px dashed;
}
.editMode .fullEdit {
	background: none;
  border: 1px dashed #000;
  padding: 0px 0.5rem;
  min-height: 4rem;
  padding: .5rem;
}
.editMode .fullEdit.medium-editor-placeholder::after {
  padding: .5rem;
}

/* Headings
-------------------------------------------------- */
h1 {
	font-size: 2em;
	line-height: 1.25em;
	font-weight: 300;
	margin: .5em 0;
}
h2 {
	line-height: 1.25em;
	font-weight: 300;
	margin: .5em 0;
}
h3 {
	line-height: 1.5em;
	font-weight: 300;
	margin: .5em 0;
}
h4 {
	font-weight: 300;
	line-height: 1.5em;
	margin: .5em 0;
}
h1 a, h2 a, h3 a, h4 a {
	color: inherit;
	border: 0 !important;
}

/* Forms
-------------------------------------------------- */
.dropdown-menu {
  font-size: 1rem;
}

/* Header
-------------------------------------------------- */
.navbar-default {
    background-color: #FFF;
    border-color: #000;
}
nav {
	margin-bottom: 2rem;
	position: absolute;
	width: 100%
}
.menu{
	float: left;
}
.menu>li{
	margin-left: .5rem;
}
.logo {
	display: block;
	margin-bottom: 1.5em;
}
.logo img {
	width: 2em;
}
#prez{
	height: 800px;
}
#cover{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 9999;
	background-color: white;
}
#welcome {
	background-color: rgb(77,250,137);
	position: absolute;
	/* padding: 12px 10px; */
	font-size: 28px;
	margin: 0 auto;
	width: 360px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	left: 50%;
	margin-left: -180px;
	top: 50%;
	margin-top: -30px;
}
#signin {
  margin: 1rem;
  width: 10rem;
}

/* Panel
-------------------------------------------------- */
.panelButton {
	cursor: pointer;
	z-index: 99999999;
	position: absolute;
	top: 1rem;
	right: .5rem;
}
#interface{
	float: right;
	margin-top: 1rem;
	margin-right: .5rem;
}


/* Sortable menu
-------------------------------------------------- */
.moving-element {
	position: fixed;
	pointer-events: none;
}
/* Navigation
-------------------------------------------------- */









/* Project meta
-------------------------------------------------- */
.user-list img{
	width: 50px;
	display: inline-block;
}


/* Project meta
-------------------------------------------------- */
.meta {
	margin-bottom: 1.5em;
}
.meta li {
	float: left;
	list-style: none;
	margin-right: 2em;
	color: #000;
}
.meta li b {
	font-weight: 300;
	color: #000;
	padding-right: .25em;
}


/* Project teaser
-------------------------------------------------- */
.teaser {
	list-style: none;
}
.teaser li {
	margin-bottom: 1.5em;
	list-style: none;
}
@media screen and (min-width: 50em) {
	.teaser li {
		float: left;
		width: 30%;
		margin-left: 5%;
	}
	.teaser li:first-child {
		margin-left: 0;
	}
}


/* Annonces
-------------------------------------------------- */
#liste-annonces .container-fluid {
	padding: 3rem 0px;
	border-bottom: 1px solid;
}
#liste-annonces .container-fluid:hover {
	background-color: #FBFF4E;
}
#liste-annonces .row img {
	border: 1px solid;
}
#btn-new {
	width: 100%;
}
#filters-buttons {
	margin: 0.5em 0px;
}

/* Annonce
-------------------------------------------------- */

/* Général */
.viewMode .editOnly {
  display: none;
}
.editMode .viewOnly {
  display: none;
}

/* Viewer */
#viewer {
    padding: 0 1rem;
    position: relative;
    border: 1px solid;
    border-radius: 0;
    background-color: #fff;
}
.swiper-container-horizontal > .swiper-pagination {
    bottom: .5rem;
}
.swiper-pagination-bullet {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    opacity: 1;
    border: 1px solid rgba(0,0,0,.7);
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000 none repeat scroll 0% 0%;
}
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
	padding: 2rem 0;
}
.swiper-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.gallery-top {
  height: 400px;
  width: 100%;
}
.gallery-thumbs {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

#swiper-button-delete {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
}

/* File Upload */
#uploadImages {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 999;
}
#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  bottom: -5px;
  margin: 0;
  border-radius: 0;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Specific fields */
#informations .fieldsGroup {
  display: none;
}
#informations .fieldsGroup.selected {
  display: block;
}

/* Catégorie */
.editMode .dropdown-toggle {
	border-bottom: 1px dashed !important;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

/* meta */
#informations .table-bordered {
	border: none;
	border-bottom: 1px solid #000;
}
#informations .table-bordered > tbody > tr > td > input {
    padding: 0px;
    margin: 0px;
    line-height: 1rem;
    height: 1.5rem;
}
#informations .table-bordered > tbody > tr > td {
    float: left;
    width: 100%;
    border-bottom: 0px none;
}
#informations .table-bordered > tbody > tr > td:nth-child(even) {
	border-top: 0;
	padding-top: 0;
}
#informations .table-bordered > tbody > tr > td:nth-child(odd) {
	text-decoration: underline;
	padding-bottom: 0;
}
#informations .btn.btn-default {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	white-space: normal;
	text-align: left;
	font-size: inherit;
	border-bottom: 1px dashed;
}
#informations.readonly .btn.btn-default {
	border: 0;
}
#informations .form-control {
	border: 0;
	border-bottom: 1px dashed;
}
#informations .form-control:focus {
	box-shadow: none;
}
#informations .meta-bloc {
	display: none;
}
#informations .meta-bloc.active {
	display: block;
}
.datepicker-dropdown::before {
    border-bottom: 7px solid rgba(0, 0, 0, 1) !important;
}
.datepicker {
	border-radius: 0;
	padding: 5px;
}
.datepicker table tr td.active {
	background: rgb(77,250,137) !important;
	color: #000;
	border-radius: 100%;
}
.datepicker td, .datepicker th {
    line-height: 20px;
}

/* Buttons
-------------------------------------------------- */
.toolbox {
}

/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
	padding: 1em 0;
}
.nextprev a {
	border: 0;
}
.nextprev .prev {
	float: left;
}
.nextprev .next {
	float: right;
}


/* My Account
-------------------------------------------------- */
#account-iframe {
	width: 100%;
	height: 1300px;
	margin-top: -48px;
	display: block;
}
#account-iframe-wrapper {
	max-width: 770px;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	border: 1px solid;
}

/* Footer
-------------------------------------------------- */
.footer {
	padding: 1em 0 6em;
	font-size: .8em;
}
.copyright {
	float: left;
}
.colophon {
	float: right;
}
.colophon a b {
	color: red;
	padding-left: .25em;
}

/* Plugins Specifics
-------------------------------------------------- */
/* Uniform */
.uniform__potty {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

